.pp-smarttextarea {
  overflow: hidden;
  overflow-y: auto;
  border: 1px solid #c8c8c8;
  max-height: 350px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pp-smarttextarea .pp-smarttextarea__innerdiv {
  position: relative;
}
.pp-smarttextarea .pp-newpost__textarea {
  height: 28px;
  resize: none;
  width: 100%;
  border: none;
  overflow: hidden;
  padding: 10px;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  background: transparent;
  position: relative;
}
.pp-smarttextarea .pp-newpost__textarea:focus {
  outline: none;
}
.pp-smarttextarea .ghostdiv {
  position: absolute;
  white-space: pre-wrap;
  background: transparent;
  color: transparent;
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pp-smarttextarea .ghostdiv span > a {
  color: transparent;
}
.pp-smarttextarea .ghostdiv span.highlighter {
  background: #d8deea;
  backgroud: -webkit-gradient(linear, center top, center bottom, from(#dce6f8), to(#bdcff1));
  background-color: -webkit-linear-gradient(#dce6f8, #bdcff1);
  background-color: -o-linear-gradient(#dce6f8, #bdcff1);
  background-color: linear-gradient(#dce6f8, #bdcff1);
  -webkit-box-shadow: 0 0 0 1px #a3bcea;
  word-wrap: break-word;
}
.pp-smarttextarea__outerdiv {
  position: relative;
}
